<% if (!user) { %>
  <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
    </head>

    <body>
      <nav>
        <a href="">NEWEST</a>
        <a href="">MOST</a>

        <!-- user login/logout -->
        <a href="">Hi, username </a>

      </nav>