.main-body {
  display: flex;
  width: 70%;
  margin: 20px auto;
  justify-content: center;
  flex-direction: column;
}

.post {
  margin: 20px 0;
  text-align: justify;
}

.read-more {
  text-decoration: none;
}

.read-more:visited {
  color: blue;
}

.author {
  font-size: 12px;
  font-style: italic;
}