/* MAIN */

.main-body {
  display: flex;
  width: 70%;
  margin: 20px auto;
  justify-content: center;
  flex-direction: column;
}

.a-title {
  color: white;
  text-decoration: none;
}

.a-title:hover,
.read-more:hover {
  color: orange;
}

.post {
  margin: 20px 0;
  text-align: justify;
}

.read-more {
  color: blue;
  text-decoration: none;
}


.author {
  font-size: 12px;
  font-style: italic;
}