ul {
  list-style-type: none;
}

.author-name {
  font-weight: 600;
  color: orange;
}

ul>li>p {
  margin: 20px 0 0 0;
}

.edit-comment {
  display: flex;
  flex-direction: row;
}

.edit-comment>form,
.edit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 40px;
}

form>button,
.edit-btn {
  background: none;
  color: white;
  border: none;
}

form>button:hover,
.edit-btn:hover {
  color: orangered;
}

.edit-form {
  display: none;
}